<div class="ui container">
    <div class="ui raised segment">
        <a class="ui blue ribbon label"> <i class="edit icon"></i> Overview</a>
        <h5 class="ui header"><i class="chevron circle up icon"></i>Fourth header</h5>
        <form class="ui form">
          <div class="ui six column grid">
            <div class="column">
              <div class="field">
                <label>First Name</label>
                <input type="text" name="first-name" placeholder="First Name" />
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label>First Name</label>
                <input type="text" name="first-name" placeholder="First Name" />
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label>First Name</label>
                <input type="text" name="first-name" placeholder="First Name" />
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label>First Name</label>
                <input type="text" name="first-name" placeholder="First Name" />
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label>First Name</label>
                <input type="text" name="first-name" placeholder="First Name" />
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label>First Name</label>
                <input type="text" name="first-name" placeholder="First Name" />
              </div>
            </div>
          </div>
        </form>
        <div class="ui divider"></div>
        <div class="ui form">
          <div class="inline fields">
            <div class="three wide field">
              <label>Show</label>
              <select class="ui dropdown">
                <option value="">10</option>
                <option value="1">20</option>
                <option value="0">30</option>
              </select>
              &nbsp;&nbsp;
              <label>entries</label>
            </div>
            <div class="seven wide field"></div>
            <div class="three wide field">
              <div class="ui buttons">
                <button class="ui button">First</button>
                <button class="ui button">Previous</button>
                <button class="ui button blue">1</button>
                <button class="ui button">Next</button>
                <button class="ui button">Last</button>
              </div>
            </div>
          </div>
        </div>
      
        <table class="ui sortable celled table">
          <thead>
            <tr>
              <th class="sorted descending">Name</th>
              <th class="sorted descending">Status</th>
              <th class="sorted descending">Salary</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of employees">
              <td>{{ emp.name }}</td>
              <td>{{ emp.status }}</td>
              <td>{{ emp.salary }}</td>
            </tr>
          </tbody>
        </table>

        <div class="ui form">
            <div class="inline fields">
              
              <div class="ten wide field"></div>
              <div class="three wide field">
                <div class="ui buttons">
                  <button class="ui button">First</button>
                  <button class="ui button">Previous</button>
                  <button class="ui button blue">1</button>
                  <button class="ui button">Next</button>
                  <button class="ui button">Last</button>
                </div>
              </div>
            </div>
          </div>
      </div>

      
      
</div>